* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  background: black;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr 200px;
  grid-template-areas:
    "head"
    "main"
    "foot";
}

.wrapper header {
  grid-area: head;
}

.logo-img {
  height: 80px;
  margin: 10px;
}

.wrapper main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "albums";
  grid-area: main;
}

.wrapper footer {
  grid-area: foot;
}

.albums {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  grid-area: "albums";
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 20%;
  padding: 1rem;
  scroll-snap-align: center;
}

.album-title {
  height: 5%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.album-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.album-cover-img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}

.album-links {
  height: 5%;
  display: flex;
  justify-content: end;
  gap: 1rem;
  align-items: center;
}

#album-link {
  width: 5%;
}

#album2 {
  transform: scale(1.2);
  transition: transform 0.3s ease;
  z-index: 1;
  margin: 0 2rem 0 2rem;
}

#album1,
#album3 {
  transform: scale(1);
  transition: transform 0.3s ease;
}

#album0,
#album4 {
  transform: scale(0.9);
}

#album0 .album-links,
#album1 .album-links,
#album3 .album-links,
#album4 .album-links {
  display: none;
}

.album {
  gap: 1rem;
  max-height: 50%;
}

@media (max-width: 1200px) {
  .albums {
    overflow: hidden;
    justify-content: space-evenly;
  }
  #album0,
  #album4 {
    display: none;
    z-index: -1;
  }

  #album1,
  #album3 {
    min-width: 27.5%;
    z-index: 1;
  }
  #album2 {
    min-width: 37.5%;
    z-index: 2;
  }

  @media (max-width: 768px) {
    #album1,
    #album3 {
      display: none;
    }
    #album2 {
      min-width: 70%;
    }
  }
}
